Repository leonbreukelman/quaestor: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, smactorio-governance-sync

.pre-commit-config.yaml:

repos:
- repo: https://github.com/astral-sh/ruff-pre-commit
  rev: v0.8.0
  hooks:
  - id: ruff
    args: [--fix]
  - id: ruff-format

- repo: local
  hooks:
  - id: mypy
    name: mypy
    entry: uv run mypy
    language: system
    types: [python]
    args: [quaestor/]
    pass_filenames: false
  - id: smactorio-governance-sync
    name: Smactorio Governance Sync Check
    entry: uv run smactorio governance sync --check
    language: system
    files: \.specify/memory/(governance-catalog\.yaml|constitution\.md)$
    pass_filenames: false

- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v5.0.0
  hooks:
  - id: trailing-whitespace
  - id: end-of-file-fixer
  - id: check-yaml
  - id: check-toml
  - id: check-added-large-files

# Security: Detect secrets before they're committed
- repo: https://github.com/Yelp/detect-secrets
  rev: v1.5.0
  hooks:
  - id: detect-secrets
    args: ['--baseline', '.secrets.baseline']
    exclude: >
      (?x)^(
        .*\.lock$|
        uv\.lock$|
        tests/fixtures/.*
      )$

fix: Resolve CI failures - lint errors, security scan issues
  .github/workflows/security.yml
  bandit-results.sarif
  docs/quaestor_architecture.py
  quaestor/analysis/linter.py
  quaestor/analysis/pipeline.py
  quaestor/analysis/workflow_analyzer.py
  quaestor/cli.py
  tests/test_linter.py
  tests/test_parser.py
  tests/test_pipeline.py
  tests/test_workflow_analyzer.py
Due: mypy

style: Fix code formatting with ruff
  docs/quaestor_architecture.py
  quaestor/analysis/linter.py
  quaestor/analysis/workflow_analyzer.py
  quaestor/cli.py
Due: mypy

fix: Add missing return type annotation for mypy compliance
  quaestor/analysis/parser.py
Due: mypy

chore: migrate roadmap to GitHub Issues, add governance principle
  .specify/memory/constitution.md
  .specify/memory/governance-catalog.yaml
  HISTORY.md
  TODO.md
Due: smactorio-governance-sync

feat(testing): implement TestCase and TestSuite Pydantic models (Phase 2)
  .github/agents/speckit.constitution.agent.md
  .github/agents/speckit.plan.agent.md
  .github/agents/speckit.specify.agent.md
  .github/copilot-instructions.md
  .github/prompts/speckit.constitution.prompt.md
  .gitignore
  .secrets.baseline
  .specify/memory/constitution.md
  AGENTS.md
  ARCHITECTURE.md
  HISTORY.md
  bandit-results.sarif
  docs/QUAESTOR_IMPLEMENTATION_PLAN.md
  pyproject.toml
  quaestor/testing/__init__.py
  quaestor/testing/models.py
  specs/implement-phase-1-core-analysis-engine-python-par/.workflow-metadata.json
  specs/implement-phase-1-core-analysis-engine-workflowan/.workflow-metadata.json
  specs/implement-testcase-and-testsuite-pydantic-models-f/.workflow-metadata.json
  specs/implement-testcase-and-testsuite-pydantic-models-f/spec.md
  tests/test_testing_models.py
  uv.lock
Due: mypy, smactorio-governance-sync

docs: update HISTORY.md with Phase 2 progress
  HISTORY.md
Due: none

feat(testing): add core fixture models (FixtureScope, FixtureDefinition, FixtureValue)
  quaestor/testing/__init__.py
  quaestor/testing/fixtures.py
  specs/create-core-fixture-pydantic-models-for-a-pytest-i/.workflow-metadata.json
  specs/create-core-fixture-pydantic-models-for-a-pytest-i/spec.md
  tests/test_fixtures.py
Due: mypy

feat(testing): add FixtureRegistry with register/get/has/list_all/clear
  quaestor/testing/__init__.py
  quaestor/testing/fixtures.py
  specs/create-fixtureregistry-class-for-managing-fixture-/.workflow-metadata.json
  specs/create-fixtureregistry-class-for-managing-fixture-/spec.md
  tests/test_fixtures.py
Due: mypy

feat(testing): add FixtureResolver with dependency resolution and cycle detection
  quaestor/testing/__init__.py
  quaestor/testing/fixtures.py
  specs/create-fixtureresolver-class-for-resolving-fixture/.workflow-metadata.json
  specs/create-fixtureresolver-class-for-resolving-fixture/spec.md
  tests/test_fixtures.py
Due: mypy

feat(testing): add ScopedFixtureManager with scope-based caching
  quaestor/testing/__init__.py
  quaestor/testing/fixtures.py
  quaestor/testing/models.py
  specs/create-core-fixture-pydantic-models-for-a-pytest-i/.workflow-metadata.json
  specs/create-fixtureregistry-class-for-managing-fixture-/.workflow-metadata.json
  specs/create-fixtureresolver-class-for-resolving-fixture/.workflow-metadata.json
  specs/create-scopedfixturemanager-class-for-managing-fix/.workflow-metadata.json
  specs/create-scopedfixturemanager-class-for-managing-fix/spec.md
  specs/implement-testcase-and-testsuite-pydantic-models-f/.workflow-metadata.json
  tests/test_fixtures.py
  tests/test_testing_models.py
Due: mypy

docs: update HISTORY.md with fixture system completion
  HISTORY.md
Due: none

feat(cli): Wire up analyze and lint commands to pipeline
  quaestor/cli.py
  specs/create-scopedfixturemanager-class-for-managing-fix/.workflow-metadata.json
  specs/create-scopedfixturemanager-class-for-managing-fix/spec.md
Due: mypy

feat(testing): Implement TestDesigner DSPy module for test generation
  quaestor/testing/__init__.py
  quaestor/testing/test_designer.py
  tests/test_test_designer.py
Due: mypy

feat(runtime): Implement Phase 3 Runtime Testing infrastructure
  quaestor/runtime/__init__.py
  quaestor/runtime/adapters.py
  quaestor/runtime/investigator.py
  quaestor/testing/test_designer.py
  tests/test_adapters.py
  tests/test_investigator.py
  tests/test_test_designer.py
Due: mypy

feat: Implement Phase 4 evaluation & judgment
  quaestor/evaluation/__init__.py
  quaestor/evaluation/judge.py
  quaestor/evaluation/metrics.py
  quaestor/evaluation/models.py
  quaestor/runtime/adapters.py
  quaestor/runtime/investigator.py
  tests/test_adapters.py
  tests/test_evaluation_judge.py
  tests/test_evaluation_metrics.py
  tests/test_evaluation_models.py
  tests/test_investigator.py
Due: mypy

test: refine Phase 4 evaluation tests
  quaestor/evaluation/judge.py
  quaestor/evaluation/metrics.py
  quaestor/evaluation/models.py
  tests/test_evaluation_judge.py
  tests/test_evaluation_metrics.py
  tests/test_evaluation_models.py
Due: mypy

docs: add smactorio upgrade simulation report
  SMACTORIO_UPGRADE_SIMULATION.md
Due: none

chore: upgrade smactorio to dacc7a45 and re-add pytest-cov
  pyproject.toml
  uv.lock
Due: none

feat(phases-2-4): DSPy Chain-of-Thought for TestDesigner/Investigator/Judge
  .gitignore
  pyproject.toml
  quaestor/analysis/linter.py
  quaestor/evaluation/judge.py
  quaestor/runtime/investigator.py
  quaestor/testing/fixtures.py
  quaestor/testing/test_designer.py
  tests/test_adapters.py
  tests/test_evaluation_judge.py
  tests/test_evaluation_metrics.py
  tests/test_investigator.py
  tests/test_parser.py
  tests/test_test_designer.py
Due: mypy

feat: Complete HTTPAdapter with retry logic and automated commit reminders
  .github/copilot-instructions.md
  .specify/memory/state.yaml
  scripts/ai_state.py
  tests/test_adapters.py
Due: mypy

feat(evaluation): Complete w005 DeepEval metric wrappers with comprehensive tests
  .specify/memory/state.yaml
  quaestor/evaluation/metrics.py
  tests/test_evaluation_metrics.py
Due: mypy

feat: Complete Phases 2-4, migrate governance to GitHub Issues
  .specify/memory/state.yaml
Due: none

fix(ci): Remove trailing whitespace and fix f-string in ai_state.py
  scripts/ai_state.py
Due: mypy

refactor: Address PR review feedback
  quaestor/evaluation/metrics.py
  scripts/ai_state.py
Due: mypy

feat: Complete Phase 1-4 implementation with session tracking
  .specify/memory/sessions/2026-01-14-001.yaml
  .specify/memory/state.yaml
  HISTORY.md
  SMACTORIO_UPGRADE_SIMULATION.md
  specs/implement-quaestorinvestigator-dspy-module-for-mul/.workflow-metadata.json
  specs/implement-quaestorinvestigator-dspy-module-for-mul/spec.md
  specs/implement-testdesigner-dspy-module-for-intelligent/.workflow-metadata.json
  specs/implement-testdesigner-dspy-module-for-intelligent/spec.md
Due: none

test: improve evaluation module coverage to 87.22%
  tests/test_evaluation_judge.py
Due: mypy

feat(phase-5): implement CoverageTracker for multi-dimensional agent testing
  quaestor/coverage/__init__.py
  quaestor/coverage/tracker.py
  specs/implement-coveragetracker-for-multi-dimensional-ag/.workflow-metadata.json
  specs/implement-coveragetracker-for-multi-dimensional-ag/spec.md
  tests/test_coverage_tracker.py
Due: mypy

feat: implement SARIF 2.1.0 output for CI integration
  quaestor/reporting/__init__.py
  quaestor/reporting/sarif.py
  tests/test_sarif.py
Due: mypy

feat: implement HTML report generator for Phase 5 (Issue #15)
  quaestor/reporting/__init__.py
  quaestor/reporting/html.py
  tests/test_html.py
Due: mypy

feat: implement HTML report generator for Phase 5 (Issue #15) (#30)
  quaestor/reporting/__init__.py
  quaestor/reporting/html.py
  tests/test_html.py
Due: mypy

feat: implement DSPy MIPROv2 optimizer for Phase 6 (Issue #19)
  quaestor/optimization/__init__.py
  quaestor/optimization/optimizer.py
  tests/test_optimizer.py
Due: mypy

feat: implement DSPy MIPROv2 optimizer for Phase 6 (Issue #19) (#31)
  quaestor/optimization/__init__.py
  quaestor/optimization/optimizer.py
  tests/test_optimizer.py
Due: mypy

feat(evaluation): add verdict filtering and querying to VerdictSummary
  quaestor/evaluation/models.py
  tests/test_evaluation_models.py
Due: mypy

Add batch evaluation methods to QuaestorJudge (#14)
  quaestor/evaluation/judge.py
  tests/test_evaluation_judge.py
Due: mypy

Add comprehensive tests for QuaestorJudge (#14)
  tests/test_evaluation_judge.py
Due: mypy

Implement pattern learning system (#21)
  quaestor/optimization/__init__.py
  quaestor/optimization/patterns.py
  tests/test_patterns.py
Due: mypy

feat(redteam): implement DeepTeam integration for Phase 7 (#24)
  pyproject.toml
  quaestor/cli.py
  quaestor/coverage/tracker.py
  quaestor/optimization/optimizer.py
  quaestor/redteam/__init__.py
  quaestor/redteam/adapter.py
  quaestor/redteam/config.py
  quaestor/redteam/models.py
  quaestor/redteam/runner.py
  quaestor/reporting/html.py
  quaestor/reporting/sarif.py
  quaestor/runtime/investigator.py
  quaestor/runtime/probe_types.py
  tests/test_coverage_tracker.py
  tests/test_html.py
  tests/test_investigator_probing.py
  tests/test_redteam.py
  tests/test_sarif.py
  uv.lock
Due: mypy

fix: resolve ruff lint errors in test files and cli
  quaestor/cli.py
  tests/test_html.py
  tests/test_redteam.py
  tests/test_sarif.py
Due: mypy

fix: resolve remaining ruff lint errors across codebase
  quaestor/optimization/optimizer.py
  quaestor/optimization/patterns.py
  tests/test_optimizer.py
  tests/test_patterns.py
Due: mypy

fix: add trailing newlines and fix imports in probe_types and test files
  quaestor/runtime/probe_types.py
  tests/test_investigator_probing.py
Due: mypy
